<BsNavbar @type="light" @backgroundColor="light" class="fixed-top" as |navbar|>
  <div class="navbar-header">
    <navbar.toggle>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </navbar.toggle>
    <ScrollTo class="navbar-brand" @href="#header">
      <img src="images/logo.png" alt="custom-actions-logo" height="50px" />
    </ScrollTo>
  </div>
  <navbar.content>
    <navbar.nav class="navbar-right lead" as |nav|>
      <nav.item>
        <ScrollTo class="nav-link" @href="#examples" @label="Examples" />
      </nav.item>
      <nav.item>
        <ScrollTo
          class="nav-link"
          @href="#documentation"
          @label="Documentation"
        />
      </nav.item>
      <nav.item>
        <a
          class="nav-link"
          href="https://github.com/Exelord/ember-custom-actions"
        >Github</a>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>