<div id="header">
  <PageSections::Header::Navbar />

  <div class="container text-center">
    <img src="images/logo.png" alt="custom-action-logo" class="logo" />
    <h1 class="lead">Trigger custom API actions for Ember 2 applications</h1>
    <h5>Compatible with Ember 2.16 and higher, dedicated for calling non-CRUD
      API actions.</h5>
    <br /><br /><br /><br />
    <ScrollTo
      class="btn btn-lg btn-outline btn-default"
      @href="#getting-started"
      @label="Getting Started"
      @offset={{-90}}
    />
  </div>
</div>